<!-- <h2>Show Picture</h2>
<div class="banner-block">
  <a class="btn btn-default banner-block-button" href="/duckify">go duckify stuff</a>
</div> -->

<div class="dashboard-image-theater theater">
  <div class="theater-image">
    <img src="<%= duckified.src %>" />
  </div>
</div>

<div class="dashboard-image-options">
  <div class="edit-option">
    <form class="edit-form" action="/dashboard/<%= duckified.id %>" method="PUT">
      <input name="duckifiedID" type="hidden" value="<%= duckified.id %>">
      <button class="btn" type="submit">save changes</button>
    </form>
  </div>
  <div class="delete-option">
    <form class="delete-form" action="/dashboard/<%= duckified.id %>" method="DELETE">
      <input name="duckifiedID" type="hidden" value="<%= duckified.id %>">
      <button id="delete-check" class="btn btn-danger">delete picture</button>
      <button id="delete-button" class="btn btn-danger hidden" type="submit">are you sure?</button>
    </form>
  </div>
</div>

<div class="clearfix"></div>

<script>
  $(document).ready(function() { onShowLoad(); });
</script>
